.caps {
  text-transform: uppercase;
}

.under-l {
  cursor: pointer;
  text-decoration: underline;
}

.l-through {
  text-decoration: line-through;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

h1 {
  font-size: 2em;
}
