// colors
$milk-red: hsl(0, 55%, 44%);
$pumpkin: hsl(24, 100%, 55%);
$cinder: hsl(240, 20%, 2%);
$crt-black: hsl(0, 0%, 8%);
$crt-green: hsl(108, 100%, 50%);
$crt-darkgreen: hsl(100, 100%, 30%);
$crt-muted-green: hsl(119, 49%, 76%);
$crt-ambar: hsl(41, 100%, 50%);
$crt-darkambar: hsl(35, 90%, 48%);
$radio-green: hsl(82, 72%, 57%);
$glade-green: hsl(120, 15%, 47%);
$black: #000;
$deepdark-pink: hsl(321, 85%, 8%);

// fonts
$imb: "imb", monospace;
$pixel: "VT323", monospace;
$medieval-pixel: "notJam13", monospace;
