@use "../styles" as *;
@use "sass:color";

// colors
$background: #08090d;
$accent: $milk-red;
$text-primary: $radio-green;
$text-secondary: $crt-muted-green;
$text-terciary: $glade-green;
$text-accent: $pumpkin;
$box-shadow: color.change($black, $alpha: 0.8);
$boxBg: color.change($cinder, $alpha: 0.5);

// font
$font-family: 400 1.5rem/150% $pixel;
$font-family-alt: 700 1.2rem $medieval-pixel;

body {
  height: 150vh;
  font: $font-family;
  color: $text-secondary;
  background: url("/imgs/media/milkBgAbout.jpg") center/100% no-repeat;

  ::selection {
    background-color: #50263e;
  }
}

h1,
h2,
h3 {
  margin: 1rem 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 10vh;

  .menu {
    height: 100%;
    padding: 0 2%;
    background-color: color.change($cinder, $alpha: 0.4);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 5%;
    transition: 0.3s ease-in;

    &:hover {
      background-color: color.change($cinder, $alpha: 0.7);
    }
  }

  .menu__btn {
    color: $text-secondary;
    font-size: 1.5rem;
    line-height: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;

    &.btn--is-currentpage {
      cursor: default;
    }
  }
}

.container {
  height: 115vh;
  width: 100%;
  padding: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2em;

  box-sizing: border-box;
}

// .container__box {
//   display: flex;
//   justify-content: center;
//   box-sizing: border-box;
//   height: 70%;
//   width: 100%;
//   padding: 1em 2em;
//   gap: 1em;
//   z-index: 0;
//   transform-style: preserve-3d;
//   transform: translateZ(0);
// }

.container__box {
  position: relative;
  display: flex;
  flex-flow: nowrap column;

  width: 60%;
  height: 70%;
  padding: 2em;
  box-sizing: border-box;

  box-shadow: 0 0 8px $box-shadow;
  background-color: $boxBg;
  border: 2px solid $accent;
  border-radius: 0.125rem;

  overflow-y: auto;
  scrollbar-color: $text-terciary transparent;

  background: url("/imgs/media/milkBgAbout.jpg") center/100% no-repeat;

  &::before {
    content: "";
    inset: 0;
    position: fixed;
    backdrop-filter: blur(3px);
    pointer-events: none;
    z-index: -1;
  }
}

.container__box__profile-box {
  $size: 180px;

  position: sticky;
  top: 0;
  right: 0;
  align-self: flex-end;

  width: $size;
  height: $size;
  outline: 2px solid $accent;
  border-radius: inherit;

  background-size: cover;
  background-position: center;
  z-index: 5;
  pointer-events: visible;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: inherit;
    display: block;
  }
}

img.blink {
  display: none;

  .container__box__profile-box:hover > & {
    display: inline-block;
  }
}

.small {
  font-size: 1rem;
  color: $text-secondary;
}

.container__box__content {
  position: absolute;
  box-sizing: border-box;
  padding: 0 2em 2em 0;
  height: fit-content;
  z-index: 2;
  align-self: flex-start;

  h1,
  h2 {
    scroll-margin-top: 100px;
    color: $text-primary;
  }

  .content__title {
    font-weight: 700;
    font-size: 1.75em;
    line-height: 50%;
    width: fit-content;

    .b {
      font-family: $medieval-pixel;
      background: -webkit-linear-gradient(
        right,
        $text-primary 0%,
        $text-accent 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .alt {
    color: $text-accent;
    font: $font-family-alt;
    text-transform: capitalize;
  }

  .content__paragraph {
    padding-left: 1em;

    &::first-letter {
      padding-left: 0.3em;
    }

    .blue {
      color: #79a2fe;
    }
  }

  dl {
    padding-left: 2em;
  }

  .backer {
    color: $text-accent;
    display: block;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.container__box__content p .sweet {
  position: relative;
  cursor: crosshair;
}

.sweetjpg {
  max-height: 8em;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  outline: 2px solid $text-accent;
  border-radius: 0.5rem;

  .sweet:hover > & {
    bottom: 130%;
    left: 5%;
    transform: translateX(-50%);
    visibility: visible;
    will-change: transform;
    transform-origin: center;
    animation: jitter 2s steps(2, end) infinite;
  }
}

.container__lateral {
  background-color: $boxBg;
  border: 2px solid $accent;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 8px $box-shadow;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em 1.5em;
  max-width: fit-content;

  summary {
    color: $text-primary;
    cursor: pointer;
  }
}

.box__lateral__option li {
  color: $text-accent;
  .topic {
    color: $text-secondary;
  }
}

.imgWrapper {
  max-height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;

  img {
    height: 100%;
  }

  footer & {
    align-items: flex-end;
    height: fit-content;
  }
}

/* --footer---------------------------------------------- */
footer {
  height: 25vh;

  .socials {
    height: 60%;
    padding: 1em 3em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.link {
  outline: 1px solid transparent;
  padding: 0.25em 1em;
  box-sizing: border-box;
  transition: 0.25s;

  &:hover {
    outline: 1px solid $accent;
  }
}

#discord {
  margin-left: 3em;

  &::after {
    color: transparent;
    position: relative;
    left: -4%;
    content: "#7564";
    text-decoration: line-through;
  }

  #dc {
    cursor: pointer;
  }

  &:has(#dc:hover)::after {
    color: $text-primary;
  }
}

#rss img{
  display: block;
}

/* ---------------------mobile--------------------- */
@media only screen and (max-width: 1200px) {
  body {
    background-size: cover;
  }

  header .menu {
    display: flex;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
  }

  .container {
    width: 100%;
    height: 75%;

    margin: 0;
    padding: 2em 1em;
    box-sizing: border-box;

    top: 5%;
    left: 50%;
    flex-flow: row-reverse wrap;
    justify-content: center;
  }

  .container__box {
    background-color: $boxBg;
    padding: 1em;
    height: 60%;
    width: 100%;
  }

  .container__box__profile-box {
    $size: 5em;

    width: $size;
    height: $size;
  }

  .container__box__content {
    font-size: 1.2rem;
  }

  .box__lateral {
    background-color: $boxBg;
    padding: 0.5em 1em;
    width: -moz-fit-content;
    width: fit-content;
  }

  .imgWrapper {
    max-height: 15%;
    width: 100%;
    gap: 1em;
  }

  footer {
    height: 15vh;

    .socials {
      font-size: 1.25rem;
      flex-wrap: wrap;
      margin-bottom: 1.5em;
      padding: 0 2em;
    }
  }
}
