// pages/journal.scss
@use "../styles" as *;
@use "sass:color";

$background: #9d2148;
$text-primary: #101010;
$text-secondary: #303030;
$accent: $crt-ambar;
$accent-secondary: $crt-darkambar;

// font
$font-family: 600 1.2rem/1.4 "courier new";

body {
  background-color: $background;
}

header .menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 5%;
  height: 10vh;
  overflow-x: scroll;
  position: relative;
  scrollbar-color: transparent transparent;
  z-index: 1;
  padding: 0 3em;
  background-color: #8A193D;
  font: 600 1.2rem/1.4 $pixel;
}

.menu__btn {
  color: $crt-muted-green;
  font-size: 1.5rem;
  line-height: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;

  &.btn--is-currentpage {
    cursor: default;
  }

  &.btn--is-clickable:hover {
    transform: translate(0, 2px);
  }
}

.container {
  color: $text-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  box-sizing: border-box;
  height: fit-content;
  padding: 5em 0 2em 0;
}

.times {
  font: 2.5rem/1 "Times New Roman", Times, serif;
}

.link {
  text-decoration: underline;
}

.journal-nav {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-nav__btn {
  position: absolute;
  left: 0;
  font-size: 2em;
  line-height: 100%;
  font-weight: bold;
  padding: 0 2em;
}

hr {
  border-width: 3px;
  color: inherit;
  width: 75%;
  box-sizing: border-box;
}

.journal {
  font: $font-family;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.journal__entry {
  display: flex;
  flex-direction: column;
  width: 70%;
  //box-sizing: border-box;
  padding: 2em 1em 2em 2em;
  outline: 8px solid #573F33;
  border-right: 6em solid #573F33;
  border-radius: 0 .1em .1em 0;
  box-shadow: 
    inset 1em -1em 4em #6b4a3990,
    0 0 0 2px white,
    0.3em 0.3em 4em #0d0d1490;
  color: #202020;
  overflow:hidden;
  background-color: #ECDEC7;

  background-image: linear-gradient(90deg, transparent 24px, #303030f0 24px, #303030f0 26px, transparent 26px),
                    linear-gradient(#50505050 .1em, transparent .1em);
  background-size: 100% 1.5em;
  
  h2 {
    margin-bottom: 1em;
    line-height: 100%;
    text-decoration: underline;
    text-align: center;
  }

  sub {
    font-weight: 400;
    text-decoration: none;
  }

  p {
    background-color: #ecdec780;
    box-shadow: 0 0 1em .5em #ecdec780;
    backdrop-filter: blur(1px) ;
    margin: 1em 0;

    &::first-letter {
      margin-left: 0.5em;
    }
  }

  & > *::selection, & > * > *::selection {
    background-color: #FAF65F80;
  }
}

.imgWrapper {
  max-width: 100%;
  max-height: 900px;
  outline: .4em solid #f2f2f2;
  box-shadow: .4em 1em #f2f2f2, -.4em 1em #f2f2f2;
  overflow: hidden;
  align-self: center;
  display: flex;

  a {display:flex}

  img {
    max-width: 100%;
    max-height: 900px;

    &#cat {
      filter: blur(8px);
      -webkit-filter: blur(8px);
      transition: ease-in-out 0.3s;

      &:hover {
        filter: none;
        -webkit-filter: none;
      }
    }

    &#dumps,
    &#pumps {
      max-height: 512px;
    }
  }

  &#combo {
    width: min(fit-content, 100%); /* any size you want */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;

      &:nth-child(1) {
        grid-column: span 2; /* make last image full width */
      }
    }
  }
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

@media only screen and (max-width: 1200px) {
  .journal-nav {
    width: 90%;
  }

  .journal-nav__btn {
    padding: 0 1em;
  }

  hr {
    width: 90%;
  }

  .journal__entry {
    width: 90%;
  }
}
