/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
html, body {
  scrollbar-color: transparent transparent;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

h1 {
  font-size: 2em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
body {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

hr {
  box-sizing: content-box;
  height: 0;
}

.caps {
  text-transform: uppercase;
}

.under-l {
  cursor: pointer;
  text-decoration: underline;
}

.l-through {
  text-decoration: line-through;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

h1 {
  font-size: 2em;
}

@keyframes scans {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px 100%;
  }
}
@keyframes ghost {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.5px 0 1px rgba(51, 255, 0, 0.5), -0.5px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 1.5px 0 1px rgba(51, 255, 0, 0.5), -1.5px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 0.1px 0 1px rgba(51, 255, 0, 0.5), -0.1px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2px 0 1px rgba(51, 255, 0, 0.5), -2px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 2.5px 0 1px rgba(51, 255, 0, 0.5), -2.5px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 0 0 1px rgba(51, 255, 0, 0.5), 0 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
}
@keyframes textShadowAlt {
  0% {
    text-shadow: 0.5px 0 1px rgba(232, 140, 12, 0.5), -0.5px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 1.5px 0 1px rgba(232, 140, 12, 0.5), -1.5px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 0.1px 0 1px rgba(232, 140, 12, 0.5), -0.1px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2px 0 1px rgba(232, 140, 12, 0.5), -2px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 2.5px 0 1px rgba(232, 140, 12, 0.5), -2.5px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 0 0 1px rgba(232, 140, 12, 0.5), 0 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
}
@keyframes ledScroller {
  0% {
    transform: translateX(112%);
  }
  100% {
    transform: translateX(-112%);
  }
}
@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}
@keyframes jitter {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-1px, 0.5px) rotate(-0.6deg);
  }
  20% {
    transform: translate(1px, -1px) rotate(0.6deg);
  }
  30% {
    transform: translate(-0.6px, 1px) rotate(-0.4deg);
  }
  40% {
    transform: translate(0.8px, -0.4px) rotate(0.3deg);
  }
  50% {
    transform: translate(-0.5px, 0) rotate(0deg);
  }
  60% {
    transform: translate(0.4px, -0.6px) rotate(0.5deg);
  }
  70% {
    transform: translate(-0.8px, 0.8px) rotate(-0.6deg);
  }
  80% {
    transform: translate(0.6px, -0.3px) rotate(0.2deg);
  }
  90% {
    transform: translate(-0.2px, 0.4px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: 0rem;
  }
  100% {
    opacity: 1;
    margin-top: 1.5rem;
  }
}
/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
body {
  height: 150vh;
  font: 400 1.5rem/150% "VT323", monospace;
  color: hsl(119, 49%, 76%);
  background: url("/imgs/media/milkBgAbout.jpg") center/100% no-repeat;
}

h1,
h2,
h3 {
  margin: 1rem 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 10vh;
}
header .menu {
  height: 100%;
  padding: 0 2%;
  background-color: hsla(240, 20%, 2%, 0.4);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 5%;
  transition: 0.3s ease-in;
}
header .menu:hover {
  background-color: hsla(240, 20%, 2%, 0.7);
}
header .menu__btn {
  color: hsl(119, 49%, 76%);
  font-size: 1.5rem;
  line-height: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
header .menu__btn.btn--is-currentpage {
  cursor: default;
}

.container {
  height: 115vh;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2em;
}

.container__box {
  position: relative;
  display: flex;
  flex-flow: nowrap column;
  width: 60%;
  height: 70%;
  padding: 2em;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  background-color: hsla(240, 20%, 2%, 0.5);
  border: 2px solid hsl(0, 55%, 44%);
  border-radius: 0.125rem;
  overflow-y: auto;
  scrollbar-color: hsl(120, 15%, 47%) transparent;
  background: url("/imgs/media/milkBgAbout.jpg") center/100% no-repeat;
}
.container__box::before {
  content: "";
  inset: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  pointer-events: none;
  z-index: -1;
}

.container__box__profile-box {
  position: sticky;
  top: 0;
  right: 0;
  align-self: flex-end;
  width: 180px;
  height: 180px;
  outline: 2px solid hsl(0, 55%, 44%);
  border-radius: inherit;
  background-size: cover;
  background-position: center;
  z-index: 5;
  pointer-events: visible;
}
.container__box__profile-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  border-radius: inherit;
  display: block;
}

img.blink {
  display: none;
}
.container__box__profile-box:hover > img.blink {
  display: inline-block;
}

.small {
  font-size: 1rem;
  color: hsl(119, 49%, 76%);
}

.container__box__content {
  position: absolute;
  box-sizing: border-box;
  padding: 0 2em 2em 0;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
  align-self: flex-start;
}
.container__box__content h1,
.container__box__content h2 {
  scroll-margin-top: 100px;
  color: hsl(82, 72%, 57%);
}
.container__box__content .content__title {
  font-weight: 700;
  font-size: 1.75em;
  line-height: 50%;
  width: -moz-fit-content;
  width: fit-content;
}
.container__box__content .content__title .b {
  font-family: "notJam13", monospace;
  background: -webkit-linear-gradient(right, hsl(82, 72%, 57%) 0%, hsl(24, 100%, 55%) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__box__content .alt {
  color: hsl(24, 100%, 55%);
  font: 700 1.2rem "notJam13", monospace;
  text-transform: capitalize;
}
.container__box__content .content__paragraph {
  padding-left: 1em;
}
.container__box__content .content__paragraph::first-letter {
  padding-left: 0.3em;
}
.container__box__content .content__paragraph .blue {
  color: #79a2fe;
}
.container__box__content dl {
  padding-left: 2em;
}
.container__box__content .backer {
  color: hsl(24, 100%, 55%);
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.container__box__content p .sweet {
  position: relative;
  cursor: crosshair;
}

.sweetjpg {
  max-height: 8em;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  outline: 2px solid hsl(24, 100%, 55%);
  border-radius: 0.5rem;
}
.sweet:hover > .sweetjpg {
  bottom: 130%;
  left: 5%;
  transform: translateX(-50%);
  visibility: visible;
  will-change: transform;
  transform-origin: center;
  animation: jitter 2s steps(2, end) infinite;
}

.container__lateral {
  background-color: hsla(240, 20%, 2%, 0.5);
  border: 2px solid hsl(0, 55%, 44%);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em 1.5em;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.container__lateral summary {
  color: hsl(82, 72%, 57%);
  cursor: pointer;
}

.box__lateral__option li {
  color: hsl(24, 100%, 55%);
}
.box__lateral__option li .topic {
  color: hsl(119, 49%, 76%);
}

.imgWrapper {
  max-height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}
.imgWrapper img {
  height: 100%;
}
footer .imgWrapper {
  align-items: flex-end;
  height: -moz-fit-content;
  height: fit-content;
}

/* --footer---------------------------------------------- */
footer {
  height: 25vh;
}
footer .socials {
  height: 60%;
  padding: 1em 3em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  outline: 1px solid transparent;
  padding: 0.25em 1em;
  box-sizing: border-box;
  transition: 0.25s;
}
.link:hover {
  outline: 1px solid hsl(0, 55%, 44%);
}

#discord {
  margin-left: 3em;
}
#discord::after {
  color: transparent;
  position: relative;
  left: -4%;
  content: "#7564";
  text-decoration: line-through;
}
#discord #dc {
  cursor: pointer;
}
#discord:has(#dc:hover)::after {
  color: hsl(82, 72%, 57%);
}

/* ---------------------mobile--------------------- */
@media only screen and (max-width: 1200px) {
  body {
    background-size: cover;
  }
  header .menu {
    display: flex;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
  }
  .container {
    width: 100%;
    height: 75%;
    margin: 0;
    padding: 2em 1em;
    box-sizing: border-box;
    top: 5%;
    left: 50%;
    flex-flow: row-reverse wrap;
    justify-content: center;
  }
  .container__box {
    background-color: hsla(240, 20%, 2%, 0.5);
    padding: 1em;
    height: 60%;
    width: 100%;
  }
  .container__box__profile-box {
    width: 5em;
    height: 5em;
  }
  .container__box__content {
    font-size: 1.2rem;
  }
  .box__lateral {
    background-color: hsla(240, 20%, 2%, 0.5);
    padding: 0.5em 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .imgWrapper {
    max-height: 15%;
    width: 100%;
    gap: 1em;
  }
  footer {
    height: 15vh;
  }
  footer .socials {
    font-size: 1.25rem;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
    padding: 0 2em;
  }
}/*# sourceMappingURL=about.css.map */