/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
html, body {
  scrollbar-color: transparent transparent;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

h1 {
  font-size: 2em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
body {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

hr {
  box-sizing: content-box;
  height: 0;
}

.caps {
  text-transform: uppercase;
}

.under-l {
  cursor: pointer;
  text-decoration: underline;
}

.l-through {
  text-decoration: line-through;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

h1 {
  font-size: 2em;
}

@keyframes scans {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px 100%;
  }
}
@keyframes ghost {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.5px 0 1px rgba(51, 255, 0, 0.5), -0.5px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 1.5px 0 1px rgba(51, 255, 0, 0.5), -1.5px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 0.1px 0 1px rgba(51, 255, 0, 0.5), -0.1px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2px 0 1px rgba(51, 255, 0, 0.5), -2px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 2.5px 0 1px rgba(51, 255, 0, 0.5), -2.5px 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 0 0 1px rgba(51, 255, 0, 0.5), 0 0 1px rgba(0, 255, 51, 0.3), 0 0 3px;
  }
}
@keyframes textShadowAlt {
  0% {
    text-shadow: 0.5px 0 1px rgba(232, 140, 12, 0.5), -0.5px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 1.5px 0 1px rgba(232, 140, 12, 0.5), -1.5px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 0.1px 0 1px rgba(232, 140, 12, 0.5), -0.1px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2px 0 1px rgba(232, 140, 12, 0.5), -2px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 2.5px 0 1px rgba(232, 140, 12, 0.5), -2.5px 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 0 0 1px rgba(232, 140, 12, 0.5), 0 0 1px rgba(232, 184, 12, 0.3), 0 0 3px;
  }
}
@keyframes ledScroller {
  0% {
    transform: translateX(112%);
  }
  100% {
    transform: translateX(-112%);
  }
}
@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}
@keyframes jitter {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-1px, 0.5px) rotate(-0.6deg);
  }
  20% {
    transform: translate(1px, -1px) rotate(0.6deg);
  }
  30% {
    transform: translate(-0.6px, 1px) rotate(-0.4deg);
  }
  40% {
    transform: translate(0.8px, -0.4px) rotate(0.3deg);
  }
  50% {
    transform: translate(-0.5px, 0) rotate(0deg);
  }
  60% {
    transform: translate(0.4px, -0.6px) rotate(0.5deg);
  }
  70% {
    transform: translate(-0.8px, 0.8px) rotate(-0.6deg);
  }
  80% {
    transform: translate(0.6px, -0.3px) rotate(0.2deg);
  }
  90% {
    transform: translate(-0.2px, 0.4px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: 0rem;
  }
  100% {
    opacity: 1;
    margin-top: 1.5rem;
  }
}
/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
.hidden {
  display: none;
}

.hidden-text {
  opacity: 0;
  position: relative;
}
.hidden-text:hover {
  opacity: 1;
}

.crt {
  animation: textShadow 4s linear infinite;
}
.crt::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(hsla(0, 0%, 8%, 0.1), rgba(0, 0, 0, 0.7));
  background-size: 100% 3px;
  z-index: 9999;
  pointer-events: none;
  animation: scans 8s cubic-bezier(0.4, 0, 1, 1) infinite;
}

/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(108, 100%, 50%);
  font: 400 1rem/1.5 "imb", monospace;
}
body ::-moz-selection {
  background-color: hsla(108, 100%, 50%, 0.5);
}
body ::-moz-selection,
body ::selection {
  background-color: hsla(108, 100%, 50%, 0.5);
}

header {
  height: 10vh;
}
header .menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5%;
  box-sizing: border-box;
  height: 10vh;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
  z-index: 1;
}

.menu__btn {
  color: hsl(108, 100%, 50%);
  font-size: 1.5rem;
  line-height: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__btn.btn--is-currentpage {
  color: hsl(100, 100%, 30%);
  cursor: default;
}
.menu__btn.btn--is-clickable:hover {
  color: hsl(100, 100%, 30%);
  transform: translate(0.1px, 2px);
}

.container {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clock {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.clock__date {
  margin: 0 0 2em;
}
.clock__time {
  font-size: 4em;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.clock__txt {
  font-size: 1.25em;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.specials {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 2px;
}
.specials--content {
  position: relative;
  display: inline-block;
  text-wrap: nowrap;
  white-space: nowrap;
  animation: ledScroller 10s linear infinite;
}
.specials--content::before {
  content: attr(data-text);
  position: absolute;
  right: 100%;
  padding-right: 2rem; /* spacing between loops */
}
.specials--content::after {
  content: attr(data-text);
  position: absolute;
  left: 100%;
  padding-left: 2rem; /* spacing between loops */
}

.link,
.alt {
  color: hsl(41, 100%, 50%);
  animation: textShadowAlt 1.5s linear infinite;
}
.link::-moz-selection, .alt::-moz-selection {
  background-color: hsla(35, 90%, 48%, 0.5);
}
.link::-moz-selection, .link::selection,
.alt::-moz-selection,
.alt::selection {
  background-color: hsla(35, 90%, 48%, 0.5);
}

.logbox {
  position: absolute;
  right: 8%;
  top: 8%;
  box-sizing: border-box;
  height: 100%;
  padding: 1%;
  width: 20%;
}
.logbox__title {
  box-sizing: border-box;
  color: inherit;
  font-size: 1.25rem;
  margin: 0;
  padding-left: 5%;
  text-decoration: none;
}
.logbox hr {
  border-width: 2px;
  border-color: hsl(108, 100%, 50%);
  margin: 1em 0 0;
  width: 75%;
}

.logbox__list {
  font-size: 1rem;
  max-height: 85%;
  overflow-y: scroll;
  padding: 10% 0;
  scrollbar-color: transparent transparent;
}
.logbox__list ul {
  width: -moz-fit-content;
  width: fit-content;
}

.logbox__list__entry label {
  cursor: pointer;
  text-decoration: underline;
}

.entry__btn {
  display: none;
}

.entry__box {
  display: none;
  position: absolute;
  z-index: 5;
  max-height: 25vh;
  width: 110%;
  border: 1px solid hsl(108, 100%, 50%);
  overflow-y: scroll;
  padding: 5% 2% 5% 0;
  background-color: hsl(0, 0%, 8%);
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 140%;
  scrollbar-color: transparent transparent;
}
.entry__box__item {
  margin: 3% 0;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__title {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-align: center;
  cursor: pointer;
}
footer .footer__title ::-moz-selection {
  background-color: transparent;
}
footer .footer__title::-moz-selection,
footer .footer__title ::selection {
  background-color: transparent;
}

/* ------------------------ mobile -- */
@media only screen and (max-width: 1200px) {
  .menu__btn {
    flex-shrink: 0;
  }
  .clock {
    margin-top: 30%;
  }
  .logbox {
    left: 50%;
    top: 4%;
    transform: translateX(-50%);
    height: 35%;
    width: 60vw;
  }
  .logbox hr {
    width: 100%;
  }
  .logbox__list {
    max-height: 50%;
    padding: 0;
  }
  .logbox__list .entry__btn:checked ~ .entry__box {
    display: block;
    top: 0;
    right: 10%;
  }
}
header .menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 5%;
  height: 10vh;
  overflow-x: scroll;
  position: relative;
  scrollbar-color: transparent transparent;
  z-index: 1;
}

.menu__btn {
  color: hsl(108, 100%, 50%);
  font-size: 1.5rem;
  line-height: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__btn.btn--is-currentpage {
  color: hsl(100, 100%, 30%);
  cursor: default;
}
.menu__btn.btn--is-clickable:hover {
  color: hsl(100, 100%, 30%);
  transform: translate(0.1px, 2px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5em 0 2em 0;
}

.times {
  font: 2.5rem/100% "Times New Roman", Times, serif;
}

.link {
  text-decoration: underline;
}

.journal-nav {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-nav__btn {
  position: absolute;
  left: 0;
  font-size: 2em;
  line-height: 100%;
  font-weight: bold;
  padding: 0 2em;
}

hr {
  border-width: 3px;
  color: inherit;
  width: 75%;
  box-sizing: border-box;
}

.journal {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.journal__entry {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-sizing: border-box;
  padding: 2em;
  outline: 1px solid hsl(108, 100%, 50%);
}
.journal__entry h2 {
  margin-bottom: 1em;
  line-height: 100%;
  text-decoration: underline;
  text-align: center;
}
.journal__entry sub {
  font-weight: 400;
  text-decoration: none;
}
.journal__entry p {
  margin: 1em 0;
}
.journal__entry p::first-letter {
  margin-left: 0.5em;
}

.imgWrapper {
  max-width: 100%;
  max-height: 900px;
  outline: 1px solid hsl(108, 100%, 50%);
  overflow: hidden;
  align-self: center;
}
.imgWrapper img {
  max-width: 100%;
  max-height: 900px;
  display: block;
}
.imgWrapper img#cat {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: ease-in-out 0.3s;
}
.imgWrapper img#cat:hover {
  filter: none;
  -webkit-filter: none;
}
.imgWrapper img#dumps, .imgWrapper img#pumps {
  max-height: 512px;
  display: inline-block;
}
.imgWrapper#combo {
  width: min(-moz-fit-content, 100%);
  width: min(fit-content, 100%); /* any size you want */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
}
.imgWrapper#combo img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.imgWrapper#combo img:nth-child(1) {
  grid-column: span 2; /* make last image full width */
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

@media only screen and (max-width: 1200px) {
  .journal-nav {
    width: 90%;
  }
  .journal-nav__btn {
    padding: 0 1em;
  }
  hr {
    width: 90%;
  }
  .journal__entry {
    width: 90%;
  }
}/*# sourceMappingURL=journal.css.map */