@import url("../style.css");

:root {
  --bg-color: var(--d-mag);
  --bg-color2: var(--black);
  --bg-color3: #3b1631;

  --txt-color: var(--fun-green);
  --txt-color2: var(--orange);
  --txt-color3: var(--lfun-green);

  --fontFamily: "VT323", monospace;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color: var(--bg-colorTrs);
  z-index: 1;
}

header:hover {
  background-color: var(--bg-color);
  transition: 0.3s ease-out;
}

.menu {
  height: 10vh;
  padding-left: 2%;

  background-color: rgba(59, 22, 49, 0.7);
}

.menu__btns {
  color: var(--txt-color3);
  text-transform: uppercase;
}

.box {
  margin: 2em 5em;
  padding: 2em 5em;

  display: flex;
  flex-flow: column wrap;

  background-color: rgba(0, 0, 0, 0.25);
  outline: 3px solid rgba(0, 0, 0, 0.3);
}

.box__title {
  font-size: 2em;
  text-transform: uppercase;
  color: var(--txt-color2);
}

.box__txt {
  font-size: 1.5em;
  margin: 1em;
}

.btn__list {
  margin: 1em 5em;
  display: flex;
  gap: 1em;
}

.list--link {
  font-size: 1.75em;
  color: var(--txt-color3);
}

@media only screen and (max-width: 1200px) {
  .box {
    margin: 1em 2em;
    padding: 1em 2em;

    text-align: center;
  }

  .box__title,
  .box__txt {
    width: 100%;
    margin: 0 0 1em;
  }

  .btn__list {
    width: 100%;
    margin: 0.5em 2em;
    gap: 0.5em;

    flex-wrap: wrap;
  }
}
