@import url("../style.css");

* {
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

body {
  height: 100vh;
  font: normal 1.75em "VT323", monospace;
  background-color: rgb(18, 21, 17);
  color: rgb(212, 214, 171);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font: 700 2rem/150% notJam13;
  color: rgb(174, 46, 46);
  letter-spacing: 0.5em;
  text-align: center;
}

a {
  text-decoration: underline dotted 2px;
  color: inherit;
}

.container p {
  margin: 1rem 0;
  padding: 2rem;
  border: 6px double rgb(189, 190, 152);
  border-radius: 0.2em;
  background-color: rgba(174, 46, 46, 0.1);
}

.btn {
  position: relative;
  top: 30%;
}